.root {
  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #ffffff;
      }
    }
  }
  li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
  a {
    border-radius: 30px;
    border: 1px solid #fe5f1e;
    width: 45px;
    height: 45px;
    padding: 10px 16px;
    text-align: center;
    color: #fe5f1e;

    &:hover {
      background-color: #fe5f1e;
      color: #ffffff;
    }
  }
}
